doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Currency Converter
    style
      include ../public/css/style.css
    block scripts
      script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
      script(src='/js/jquery-3.6.0.js')
      script(src='/js/index.js')
  body
      
        